

<div class="d-flex justify-content-between">
    <h2>Costumer</h2>
    <ul class="d-flex list-unstyled">
        <li>
            <a asp-controller="Home" asp-action="Profile">My Profile</a> | 
        </li>
        <li>
            <form asp-controller="Home" asp-action="Logout" method="post"><button type="submit" class="btn text-primary btn-link p-0"> Logout</button></form>
        </li>
    </ul>
    
</div>